/* .form-group .form-control {
    margin-bottom: .5rem;
} */

.card p:last-of-type {
    margin-bottom: 0;
}

p.card-text {
    width: 100%;
}

@media (min-width: 576px) {
    .card-img-wrap {
        max-height: 158px;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .card-img-wrap {
        max-height: 98px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .card-img-wrap {
        max-height: 138px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .card-img-wrap {
        max-height: 167px;
        overflow: hidden;
    }
}