<% include ./partials/header %>

    <div class="container">
        <h1>This is the Secret page!</h1>
        <p>This page can only be visited when logged in</p>
        <img src="https://images.unsplash.com/photo-1483706600674-e0c87d3fe85b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=512ebba013149073596fc108891a13bf&auto=format&fit=crop&w=400&q=60" alt="secret image">
        <br><br>
        <ul class="list-unstyled">
            <li><a href="/register">Sign Up!</a></li>
            <li><a href="/login">Login!</a></li>
            <li><a href="/logout">Logout!</a></li>
        </ul>
    </div>

<% include ./partials/footer %>
