.circle {
    background-color: blue;
    position: absolute;
    left: 130px;
    top: 60px;
    width: 100px;
    height: 100px;
    z-index: -10;
}

canvas {
    width: 100%;
    background-color: black;
    height: 100%;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}